<?xml version="1.0" encoding="UTF-8" ?>
        <!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
                "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
        <!-- namespace目前可以自定义要唯一，将来面向接口编程时对应dao接口，一个mapper相当于一个dao接口的实现类 -->
<mapper namespace="com.jxd.dao.IDeptDao">
    <!--List<Dept> getAllDept(String dName);-->
    <select id="getAllDept" resultType="Dept">
        select deptno,dName from dept where dName like concat('%',#{dName},'%')
    </select>

    <!--List<Map<String, Object>> getDeptByPage(String dName,int pageIndex, int pageSize);-->
    <select id="getDeptByPage" resultType="Dept">
        select deptno, dName from dept where dName like concat('%',#{dName},'%')
        order by deptno
        limit #{pageIndex} , #{pageSize}
    </select>

    <insert id="addDept">
        insert into Dept (dName) values (#{dName})
    </insert>
<!--    List<Dept> getAllDept(String dName);-->
<!--    List<Dept> getDeptByPage(@Param("dName") String dName, @Param("pageIndex") int pageIndex, @Param("pageSize") int pageSize);-->
<!--    boolean addDept(String dName);-->
<!--    boolean updDept(String dName);-->
<!--    boolean delDept(int deptno);-->

</mapper>